 @charset "UTF-8";

.page{
/*  
	margin: 0px 100px 0px 100px;
	border: 20px solid;	
*/
}

td {
	background-color: white;
}

th {
	background-color: #ff8400;
	color: white;
	text-align: center;
}