<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>project</display-name>
  <!-- /shop1/src/main/webapp/WEB-INF/web.xml -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
<!-- spring 설정 -->
<servlet>
  <servlet-name>project</servlet-name>
  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> <!-- 환경을 만들어주는 내용 -->
  <init-param>
    <param-name>contextClass</param-name> <!-- 자바 설정 파일 사용 -->
    <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
  </init-param>
  <init-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>config.MvcConfig
                 config.DBConfig
                 config.WebSocketConfig
    </param-value>
  </init-param>
  <load-on-startup>1</load-on-startup> <!-- 서버를 restart 시키면 항상 1개는 올려놔 -->
</servlet>  
<!-- 
    servlet-mapping : 요청 정보와 서블릿 매핑
  / : (클라이언트가하는 모든 요청) 시 shop 이름을 가진 서블릿 호출 
 -->
<servlet-mapping>
  <servlet-name>project</servlet-name>
  <url-pattern>/</url-pattern> <!-- / :어떤 요청이 들어와도 이름이 shop인 서블릿을 실행해라 -->
</servlet-mapping>
<!-- 한글 인코딩 필터 설정 -->
<filter>
  <filter-name>encoding</filter-name>
  <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  <init-param>
   <param-name>encoding</param-name>
   <param-value>UTF-8</param-value>
  </init-param>
</filter>
<filter-mapping>
  <filter-name>encoding</filter-name>
  <url-pattern>/*</url-pattern>
</filter-mapping>
</web-app>